fastapi
uvicorn

pydantic
python-dotenv
pydantic-settings

sqlalchemy

sentence-transformers
faiss-cpu

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

pymupdf

requests

streamlit

numpy
pandas

tqdm